{% extends 'base.html' %} {% load static %} {% block content%}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
    <title>Customers Home Page</title>
</head>

<body>
    <h1>Here lies all the customers</h1>
    <table style="width:50%">
        <tr id="headings">
            <th>Customer Name</th>
            <th>Customer Number</th>
            <th>Customer Email</th>
        </tr>
        {% for customer in customers %}
        <tr>
            <td>{{ customer.customer_name }}</td>
            <td>{{ customer.customer_number }}</td>
            <td>{{ customer.customer_email }}</td>
        </tr>
        {% endfor %}

    </table>

</body>
{% endblock %}