{% extends 'base.html' %} {% load static %} {% block content%}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
    <title>Orders Page</title>
</head>

<body>

    <h1>Here lies all the orders</h1>
    <table style="width:50%">
        <tr id="headings">
            <th>Order Number</th>
            <th>Customer</th>
            <th>Product</th>
        </tr>
        {% for order in orders %}
        <tr>
            <td>{{ order.order_number }}</td>
            <td>{{ order.customer }}</td>
            <td>{{ order.product }}</td>
        </tr>
        {% endfor %}

    </table>
</body>

{% endblock %}