{% extends 'base.html' %} {% load static %} {% block content%}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
    <title>Products Page</title>
</head>

<body>
    <h1>Here lies all the products</h1>
    <table style="width:50%">
        <tr id="headings">
            <th>Product Name</th>
        </tr>
        {% for product in products %}
        <tr>
            <td>{{ product.product_name }}</td>
        </tr>
        {% endfor %}

    </table>
</body>

{% endblock %}